XML/Intermediate/Intermediate.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"
           elementFormDefault="qualified">

 <xs:element name="intermediatelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Intermediate" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="No." type="xs:string"/>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Age" type="xs:string"/>
              <xs:element name="Gender" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
 </xs:element>

</xs:schema>